
params {
    input_seq_dir = "./"
    input_kraken2_dir = "./"
    outdir = "outdir"
    paired_end = "*_R{1,2}*.fastq.gz"
    single_end = "*.fastq.gz"
    kraken2_output="*.kraken2.output.txt"
    type = "paired-end"
    ref_genome = "/data/software/miniconda3/envs/tb-profiler/share/tbprofiler/tbdb.fasta"
    //ref_genome = "/data/deve/workflows/nf-tb/NC_000962_3.fasta"
    mq = 10
    min_samples_locus = 1 
   help = false
}
// output a detailed timeline report.
timeline {
  enabled = true
  file = "$params.outdir/timeline.html"
}

// output a detailed execution report
report {
  enabled = true
  file = "$params.outdir/report.html"
}

// These parameters are only active if we choose a non-local executor 
// like slurm or torque.
// setting the queueSize to be no more than 100 jobs 
// and a submission rate of no more than 10 per second.
executor {
  queueSize = 100
  submitRateLimit = '10 sec'
}

process {
    withLabel: small_mem {
        cpus = 4
        memory = 12.GB
        queue = 'short'
    }
    withLabel: big_mem {
        cpus = 8
        memory = 64.GB
        queue = 'long'
    }
}

profiles {
  slurm { includeConfig './configs/slurm.config' }

  docker { docker.enabled = true }

  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
  }
}
manifest {
name = 'ABMicroBioinf/nf-qc'
author = 'Xiaoli Dong'
// homePage = 'www.bioinformaticsworkbook.org'
description = 'nextflow bash'
mainScript = 'main.nf'
version = '0.0.1'
}
